NEXT_PUBLIC_SUPABASE_URL=https://jutuzpwbduowawmheyhn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1dHV6cHdiZHVvd2F3bWhleWhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwNzY1MjAsImV4cCI6MjEwNjY1MjUyMH0.98pbtVNKIuRhIf1Q__-D2Pg5Y-DdqZxIG6cbN3x4iwM
